/* Increase the height of the navbar */
.navbar {
    height: 100px; /* Adjust the height as needed */
}

/* Change the size of the navbar links */
.navbar .nav-link {
    font-size: 20px; /* Adjust the font size */
}

/* Adjust the logo or brand size if you have one */
.navbar-brand {
    font-size: 30px; /* Adjust the brand size */
}

/* Adjust the size of the logo */
.navbar-brand img {
  max-height: 80px; /* Adjust this value to make the logo larger */
  width: auto;      /* Maintain aspect ratio */
}

/*  Image on the left and right and text in the other side */
.image-text-container {
  display: flex;
  align-items: center;
}

.image-text-container img {
  max-width: 100%;  /* Adjust the percentage as needed to adjust the size of the image*/
  height: auto;
  margin-right: 75px; /* Space between image and text */
  padding-left: 25px;  /* Adjust this value for padding */
  padding-right: 25px; /* Adjust this value for padding */
}

.image-text-container .text {
  flex: 1;
}

.image-text-container-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; /* This swaps the image and text positions */
}

.image-text-container-reverse img {
  max-width: 100%; /* Adjust the percentage as needed to adjust the size of the image*/
  height: auto;
  margin-left: 50px; /* Space between image and text */
  padding-left: 25px;  /* Adjust this value for padding */
  padding-right: 25px; /* Adjust this value for padding */
}

.image-text-container-reverse .text {
  flex: 1;
}

/* Custom class for no margins */
.no-margin {
  margin: 0px;              /* No margin around the page content */
  padding: 0px;            /* Add padding to the content */
}
